body {
  background-color: #000a13;
}

.gifs {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif {
  padding: 0.3rem;
}

.img {
  border-radius: 15px;
}

.loader {
  color: #c90dff;
  padding-top: 45vh;
}

.logo {
  width: 25%;
}

.search {
  width: 50%;
}

.color-pink {
  background-color: #c90dff;
  color: white;
}

.tabs {
  color: white;
  background: none;
  border: none;
}
.tabs:active {
  color: #c90dff;
}

.main {
}

.gif-container {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}
